.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.entry-forms, .cv-display {
  margin: 2% 10%;
  width: 70%;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 12px;
}

@media print {
  .cv-display {
    page-break-inside: avoid;
    max-height: 95vh;
    max-width: 100%;
    width: auto;
  }
}

.cv-display {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.right-area {
  margin: 2rem;
}

.left-area {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.right-area {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: left;
}

.generalInfo-title, .eduInfo-title, .expInfo-title, .completeCv-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.generalInfo-form, .educationalInfo, .expInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin: 0px 10%;
}

.educationalInfo-form, .expInfo-form {
  padding: 10px;
}

.generalInfo-form > input, .name-session > input {
  width: 100%;
  flex-grow: 1;
}

.photoEntry {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name-session {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
}

.date-session {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
}

input {
  padding: 8px 5px;
}

input[type=date] {
  padding: 0px;
}

textarea {
  width: 100%;
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #282c34;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 12px;
  outline: 0;
  border: 2px solid black;
}

button:active {
  border: 2px solid white;
}

.loadBtn {
  margin: 5%;
}

.candidateName {
  font-size: 1.5rem;
  color: #44546a;
  margin-top: 1rem;
}

.candidateTitle {
  font-size: 1rem;
  font-style: italic;
}

.contact-area, .skills-area {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
}

.contactTitle, .skillsTitle, .educInfoTitle, .expInfoTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  color: #44546a;
  font-style: italic;
  border-bottom: 1px solid #282c34;
}

.contactTitle, .skillsTitle {
  flex-grow: 0;
}

.candidateNum, .candidateEmail, .candidateAddress {
  font-size: 1rem;
}

.skillsList {
  padding: 0;
}

.skillsDisp {
  list-style-type: none;
  
}

.educDispInfo, .expDispInfo {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-bottom: double;
}

.candidateSchool, .candidateStudy, .candidateCompName, .candidatePosition {
  font-style: italic;
}

.educDates, .expDates {
  display: flex;
  justify-content: flex-start;
}

.startDate, .finishDate, .fromDate, .untilDate {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  font-style: italic;
  padding: 0.2rem;
}

.desc-area {
  padding: 0.2rem;
}

.startTitle, .finishTitle, .fromTitle, .untilTitle, .descTitle {
  font-weight: bold;
}